<!--
 ! This Source Code Form is subject to the terms of the Mozilla Public
 ! License, v. 2.0. If a copy of the MPL was not distributed with this
 ! file, You can obtain one at http://mozilla.org/MPL/2.0/.
 !
 ! Copyright 2014 Mark Craig
-->

<div class="jumbotron">
    <div class="container">
        <h1>Reader</h1>

        <p>
            This site uses the
            <a href="https://developers.google.com/feed/v1/"
               target="_blank">Google Feed API</a>.
            It sets a cookie to avoid displaying items
            that you have already seen.
            But you can click the Reload button
            to delete the cookie and reload all feeds.
        </p>

        <p>
            This page stores the list of your feeds
            in your browser's local storage,
            so before you change browsers, download your list of feeds.
            You can then upload the list in the other browser.
        </p>

        <p>
            The source code for this site is available at
            <a href="https://github.com/markcraig/reader/"
               target="_blank">Github.com</a>.
        </p>
        
        <p>
            This site also relies on
            <a href="https://angularjs.org/">AngularJS</a>,
            and on <a href="http://getbootstrap.com/">Bootstrap</a>.
        </p>
    </div>
</div>
