<!--
 ! This Source Code Form is subject to the terms of the Mozilla Public
 ! License, v. 2.0. If a copy of the MPL was not distributed with this
 ! file, You can obtain one at http://mozilla.org/MPL/2.0/.
 !
 ! Copyright 2014 Mark Craig
-->

<div class="container">

    <div class="row">

        <!-- Feeds files -->
        <div class="col-md-4 center-block">

            <div class="form-group">
                <label for="inputFeedsFile"
                       class="control-label"
                        >Upload feeds file (*.json)</label>
                <input id="inputFeedsFile"
                       type="file"
                       accept="application/json">
            </div>

            <p>
                <label for="downloadFeeds">Download</label>
                <a id="downloadFeeds"
                   href="data:text;charset=utf-8,[]"
                   download="feeds.json"
                        >your feeds file</a>
            </p>

            <p>
                <label for="downloadExampleFeeds">Example</label>
                <a id="downloadExampleFeeds"
                   href="feeds.json"
                        >feeds file</a>
            </p>

        </div>

        <!-- Add and remove feeds -->
        <div class="col-md-4">

            <div class="form-group">
                <label for="inputSiteUrl"
                       class="control-label"
                        >Add feed</label>
                <input id="inputSiteUrl"
                       class="form-control"
                       type="url"
                       placeholder="Site URL">
            </div>

            <div class="form-group">
                <label for="inputFeedToRemove"
                       class="control-label"
                        >Remove feed</label>
                <select id="inputFeedToRemove"
                        class="form-control">
                    <option>Select feed</option>
                </select>
            </div>

        </div>

        <!-- Store and reload -->
        <div class="col-md-4">

            <div class="form-group">
                <label for="doStoreBookmarks"
                       class="control-label"
                        >Store bookmarks</label>
                    <input id="doStoreBookmarks"
                           type="checkbox"> (Requires Dropbox)
            </div>

            <div class="form-group">
                    <input id="reload"
                           class="btn btn-default"
                           type="button"
                           value="Reload feeds">
            </div>
        </div>

    </div>

</div>
