<!--
 ! This Source Code Form is subject to the terms of the Mozilla Public
 ! License, v. 2.0. If a copy of the MPL was not distributed with this
 ! file, You can obtain one at http://mozilla.org/MPL/2.0/.
 !
 ! Copyright 2014 Mark Craig
-->

<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">

        <p>
            This page uses the
            <a href="https://developers.google.com/feed/v1/"
               target="_blank">Google Feed API</a>.
            It sets a cookie to avoid displaying items
            that you have already seen.
            But you can click the Reload button
            to delete the cookie and reload all feeds.
        </p>

        <p>
            This page stores the list of your feeds
            in your browser's local storage,
            so before you change browsers, download your list of feeds.
            You can then upload the list in the other browser.
        </p>

    </div>
    <div class="col-md-2">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <hr />
        <p class="text-center text-muted">{{message}}</p>
        <hr />
        <button type="button" class="btn btn-default pull-right">Reload</button>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
