<!--
 ! This Source Code Form is subject to the terms of the Mozilla Public
 ! License, v. 2.0. If a copy of the MPL was not distributed with this
 ! file, You can obtain one at http://mozilla.org/MPL/2.0/.
 !
 ! Copyright 2014 Mark Craig
-->

<div class="container">

    <div class="row" ng-show="!nothingToRead">

        <tabset>

            <tab ng-repeat="feed in feeds" heading="{{feed.title}}">

                <div class="center-block" ng-repeat="entry in feed.entries"
                     style="max-width: 500px;">

                    <h4>
                        <a href="{{entry.link}}"
                           target="_blank">{{entry.title}}</a>
                    </h4>

                    <div class="content"
                         ng-bind-html="trust(entry.content)"></div>

                    <hr/>

                </div>

            </tab>

        </tabset>

    </div>

    <div class="row" ng-show="nothingToRead">

        <div class="col-md-12 text-muted text-center">Nothing new to read</div>

    </div>

</div>
